* {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------*/
/*Backbones*/
.su-backbone-w950{
	margin: auto;
    width: 950px;
   
}
.su-backbone-w750{
	margin: auto;
    width: 950px;
   
}
.su-backbone-wfull{
	margin: auto;
     width: 100%;
}
/*--------------------------------------------------*/
/*Rows are frame of cols*/
.su-backbone-row {
    display: block;
    overflow: hidden;
}
/* Samples
 * 4column alongside: 25+25+25+5
 * 3: 25+50+25
 * 2: 50+50
 * Lopsided samples
 * 2: 75+25
 * or: 25+75*/
.su-backbone-col25{
	float: left;
    width: 25%;
}
.su-backbone-col50{
	float: left;
    width: 50%;
}
.su-backbone-col75{
	float: left;
    width: 75%;
}	

/*Fine tuning*/
.su-backbone-col90{
	float: left;
    width: 90%;
}
.su-backbone-col80{
	float: left;
    width: 80%;
}
.su-backbone-col70{
	float: left;
    width: 70%;
}
.su-backbone-col60{
	float: left;
    width: 60%;
}
.su-backbone-col50{
	float: left;
    width: 50%;
}
.su-backbone-col40{
	float: left;
    width: 40%;
}
.su-backbone-col30{
	float: left;
    width: 30%;
}
.su-backbone-col20{
	float: left;
    width: 20%;
}
.su-backbone-col10{
	float: left;
    width: 10%;
}

/*--------------------------------------------------*/

/*Visual Seperators
 Right: sepe+r=seper
 Left: sepe+l=sepel*/
.su-backbone-seper {
    border-right: 1px solid gray;
    margin: -1px;
}
.su-backbone-sepel {
    border-left: 1px solid gray;
    margin: -1px;
}
.su-backbone-sepet {
    border-top: 1px solid gray;
    margin: -1px;
}
.su-backbone-sepeb {
    border-bottom: 1px solid gray;
    margin: -1px;
}
/*full-fledged seperate*/

.su-backbone-sepeff {
    border: 1px solid gray;
    margin: -1px;
}
/*--------------------------------------------------*/
/*In Cell operations: Margin inside cell
 mar+t: marigin top*/
.su-incell-mart {
    margin-top: 5px;
}
.su-incell-marb {
    margin-bottom: 5px;
}
.su-incell-marl {
    margin-left: 5px;
}
.su-incell-marr {
    margin-right: 5px;
}
/*full-fledged margin*/
.su-incell-marff {
    margin: 5px;
    width: 100% !important;
}
/*--------------------------------------------------*/

/*Old framework*/



.arial {
    font: 12px Arial,Helvetica,sans-serif;
}
.su-err {
    background-color: red;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
}
.su-inf {
    background-color: yellow;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
}
.su-suc {
    background-color: Green;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
}


/*Page Content*/
#content {
	margin: 7px;
	min-height: 500px;
	height:auto;
	line-height: 25px;
}


a {
 
}
a:hover {
    text-decoration: underline;
}
.hov:hover {
    box-shadow: 1px 1px 1px 1px orange;
}
input, label {
    display: block;
}
input {
    border: 2px solid wheat;
    font-weight: bold;
}
input:hover, textarea:hover {
    border: 2px solid orange;
}
form {
    border: 2px dotted gray;
    padding: 10px;
}
input, textarea {
    border: 2px solid gray;
    min-width: 400px;
    width: auto;
}
input[type=submit], .send {
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
}
.su-button {
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px black;
    color: black;
    font-size: 11px;
    font-weight: bold;
    margin: 2px;
    padding: 2px 2px 4px 3px;
}
.su-bg-orn {
    background-color: orange;
}
.su-bg-blu {
    background-color: LightSteelBlue;
}
.su-bg-red {
    background-color: red;
}
.su-nav-hor {
    background-color: #0EC6DE;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 2px 1px 2px 1px;
    height: 60px;
    list-style-type: none;
    margin: auto;
    width: 100%;
}
.su-nav-hor li {
    float: left;
}
.su-nav-hor a {
    border-right: 1px solid #3FBDBF;
    color: #371C1C;
    display: block;
    font-size: 18px;
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.su-nav-hor a:hover {
    background-color: #E75A5A;
}
.su-txt-jus {
    text-align: justify;
}
.su-img-lt {
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;
}
