/*Global Settings*/
* {
	margin: 0;
	padding: 0;
	/*fonts*/

	font-family: ;
	font: 100%/1.5 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	
	
}
/*Setting naturel margin*/
p, img h1, h2, h3, h4, ul, input, textarea, label {
	margin: 5px;
}
/*Body themes*/
.su-themes-nightmare{
	background: url("bg/nightmare.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
	background-color: #0B1318;
}
.su-themes-clean{
	background-color: white;
}


/*--------------------------------------------------*/
/*Backbones*/
.su-backbone-w950 {
	margin: auto;
	width: 950px;
}
.su-backbone-w750 {
	margin: auto;
	width: 950px;
}
.su-backbone-wfull {
	margin: auto;
	width: 100%;
}
.su-backbone-w950,.su-backbone-w750,.su-backbone-wfull{
	background-color: white;
}

/*--------------------------------------------------*/
/*Rows are frame of cols*/
.su-backbone-row {
	display: block;
	overflow: hidden;
}
/* Samples
 * 4column alongside: 25+25+25+5
 * 3: 25+50+25
 * 2: 50+50
 * Lopsided samples
 * 2: 75+25
 * or: 25+75*/
.su-backbone-col25 {
	float: left;
	width: 25%;
}
.su-backbone-col50 {
	float: left;
	width: 50%;
}
.su-backbone-col75 {
	float: left;
	width: 75%;
}

/*Fine tuning*/
.su-backbone-col90 {
	float: left;
	width: 90%;
}
.su-backbone-col80 {
	float: left;
	width: 80%;
}
.su-backbone-col70 {
	float: left;
	width: 70%;
}
.su-backbone-col60 {
	float: left;
	width: 60%;
}
.su-backbone-col50 {
	float: left;
	width: 50%;
}
.su-backbone-col40 {
	float: left;
	width: 40%;
}
.su-backbone-col30 {
	float: left;
	width: 30%;
}
.su-backbone-col20 {
	float: left;
	width: 20%;
}
.su-backbone-col10 {
	float: left;
	width: 10%;
}

/*--------------------------------------------------*/

/*Visual Seperators
 Right: sepe+r=seper
 Left: sepe+l=sepel*/
.su-backbone-seper {
	border-right: 1px solid gray;
	margin: -1px;
}
.su-backbone-sepel {
	border-left: 1px solid gray;
	margin: -1px;
}
.su-backbone-sepet {
	border-top: 1px solid gray;
	margin: -1px;
}
.su-backbone-sepeb {
	border-bottom: 1px solid gray;
	margin: -1px;
}
/*full-fledged seperate*/

.su-backbone-sepeff {
	border: 1px solid gray;
	margin: -1px;
}
/*--------------------------------------------------*/
/*In Cell operations: Margin inside cell
 mar+t: marigin top*/
.su-incell-mart {
	margin-top: 5px;
}
.su-incell-marb {
	margin-bottom: 5px;
}
.su-incell-marl {
	margin-left: 5px;
}
.su-incell-marr {
	margin-right: 5px;
}
/*full-fledged margin*/
.su-incell-marff {
	margin: 5px;
	width: 100% !important;
}
/*--------------------------------------------------*/

/*Alerts*/
.su-alert-err {
	background-color: rgba(231, 17, 17, 0.63);
	border: 1px solid #D91F1F;
	margin: 1px;
	padding: 5px;
}
.su-alert-inf {
	background-color: #E6E59A;
	border: 1px solid #ABC638;
	margin: 1px;
	padding: 5px;
}
.su-alert-suc {
	background-color: #A2DDA1;
	border: 1px solid #2A8911;
	margin: 1px;
	padding: 5px;
}

/*Link*/

a {
	text-decoration: underline;
}
a:hover {
	color: red;
}

/*Forms*/
input, textarea {
	font-weight: bold;
	padding: 2px;
}

/*Nice box*/
.su-nicebox-garden {
	background-color: #ABC638;
}
.su-nicebox-wheat {
	background-color: #E6E59A;
}
.su-nicebox-milk {
	background-color: #F2EFDC;
}
.su-nicebox-night {
	background-color: #037E8C;
}
.su-nicebox-apple {
	background-color: #F20401;
}

/*Page grand titles for divs*/
.su-pagetitle-bigfont {
	font-size: 5em;
	padding-bottom: 25px;
	padding-bottom: 25px;
}
.su-pagetitle-arabesque {
	font-size: 5em;
	padding-bottom: 25px;
	padding-top: 25px;
	border-bottom: solid 2px red;
}
.su-pagetitle-intro {
	font-size: 2em;
	border-bottom: solid 2px red;
	padding: 10px;
	font-style: italic;
}
/*Page Elements*/
.su-elements-toptoolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: gray;
	font-family: "Arial";
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	z-index: 100;
}
.su-elements-modernfooter {
	height: 150px;
	background-color: #2A8911;
	color: white;
	margin-top: 25px;
}

/*Headings*/
h1 {
	font-size: 2em; /* 2*16 = 32 */
}
h2 {
	font-size: 1.5em; /* 1.5*16 = 24 */
}
h3 {
	font-size: 1.17em; /* 1.17*16 = 18.72 */
}
h4 {
	font-size: 1em; /* 1*16 = 16 */
}
h5 {
	font-size: 0.83em; /* 0.83*16 = 13.28 */
}
h6 {
	font-size: 0.75em; /* 0.75*16 = 12 */
}

/*Word Breaking*/
/*Without text-align justify nice breaking*/
p {
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
/*Codes*/
code, pre {
	font-family: monospace, serif;
	font-size: 1em;
}

/*Blockquote- for <blockquote> element*/
blockquote {
	font-style: italic;
}

blockquote:before {
	content: "\201C";
	display: inline-block;
	padding-right: .4em;
}

/*Printing*/
@media print {

	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

}

p, h2, h3 {
	orphans: 3; /* http://css-tricks.com/almanac/properties/o/orphans/ */
	widows: 3; /* http://css-tricks.com/almanac/properties/w/widows/ */
}
h2, h3 {
	page-break-after: avoid;
}

/*Image maniplation*/
img{
	overflow:hidden;
}



/*----------------------------
 CSS3 Animated Navigation
 -----------------------------*/

.su-menu-hormenu-fancy {
	/* Affects the UL element */
	overflow: hidden;
	display: inline-block;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.su-menu-hormenu-fancy li {
	/* Specifying a fallback color and we define CSS3 gradients for the major browsers: */

	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	/* Adding a 1px inset highlight for a more polished efect: */

	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	position: relative;
	float: left;
	list-style: none;
}

.su-menu-hormenu-fancy li:after {

	/* This creates a pseudo element inslide each LI */

	content: '.';
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	/* Gradients! */

	background-image: -webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image: -moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image: -o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image: -ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image: linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	/* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

	box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;
	-moz-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;
	-webkit-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;
	/* This will create a smooth transition for the opacity property */

	-moz-transition: 0.25s all;
	-webkit-transition: 0.25s all;
	-o-transition: 0.25s all;
	transition: 0.25s all;
}

/* Treating the first LI and li:after elements separately */

.su-menu-hormenu-fancy li:first-child {
	border-radius: 4px 0 0 4px;
}

.su-menu-hormenu-fancy li:first-child:after, .su-menu-hormenu-fancy li.selected:first-child:after {
	box-shadow: 1px 0 0 #a3a3a3, 2px 0 0 #fff;
	-moz-box-shadow: 1px 0 0 #a3a3a3, 2px 0 0 #fff;
	-webkit-box-shadow: 1px 0 0 #a3a3a3, 2px 0 0 #fff;
	border-radius: 4px 0 0 4px;
}

.su-menu-hormenu-fancy li:last-child {
	border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.su-menu-hormenu-fancy li:last-child:after, .su-menu-hormenu-fancy li.selected:last-child:after {
	box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff;
	-moz-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff;
	-webkit-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff;
	border-radius: 0 4px 4px 0;
}

.su-menu-hormenu-fancy li:hover:after, .su-menu-hormenu-fancy li.selected:after, .su-menu-hormenu-fancy li:target:after {
	/* This property triggers the CSS3 transition */
	opacity: 1;
}

.su-menu-hormenu-fancy:hover li.selected:after, .su-menu-hormenu-fancy:hover li:target:after {
	/* Hides the targeted li when we are hovering on the UL */
	opacity: 0;
}

.su-menu-hormenu-fancy li.selected:hover:after, .su-menu-hormenu-fancy li:target:hover:after {
	opacity: 1 !important;
}

/* Styling the anchor elements */

.su-menu-hormenu-fancy li a {
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster, Arial, sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index: 1;
	text-decoration: none !important;
	white-space: nowrap;
}

.su-menu-hormenu-fancy a.homeIcon {
	background: url('img/home.png') no-repeat center center;
	display: block;
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	text-indent: -9999px;
	width: 16px;
}
